<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quantiv" type="Quantiv.Runtime.Configuration.QuantivRuntimeSection, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671"/>
  </configSections>
  <quantiv xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd file://\QuantivProjects\Quantiv5\Scheme\QuantivSupportConfig.xsd http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd file://\QuantivProjects\Quantiv5\Scheme\QuantivRuntimeConfig.xsd">

    <service type="Quantiv.Runtime.Services.RuntimeServices.IRuntimeService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671"
             defaultProvider="PooledRuntimeServiceProvider">
      <provider name="PooledRuntimeServiceProxyProvider" type="Quantiv.Runtime.Services.RuntimeServices.PooledRuntimeServiceProxyProvider, Quantiv.Runtime.Services.Client, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="-1" idleTimeout="-1" />
      </provider>
      <provider name="PooledRuntimeServiceProvider" type="Quantiv.Runtime.Services.RuntimeServices.PooledRuntimeServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="-1" idleTimeout="-1" />
      </provider>
    </service>

    <service type="Quantiv.Runtime.Services.RuntimeServices.ISystemRuntimeService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671"
             defaultProvider="PooledSystemRuntimeServiceProvider">
      <provider name="PooledSystemRuntimeServiceProxyProvider" type="Quantiv.Runtime.Services.RuntimeServices.PooledSystemRuntimeServiceProxyProvider, Quantiv.Runtime.Services.Client, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="-1" idleTimeout="-1" />
      </provider>
      <provider name="PooledSystemRuntimeServiceProvider" type="Quantiv.Runtime.Services.RuntimeServices.PooledSystemRuntimeServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="-1" idleTimeout="-1" />
      </provider>
    </service>

    <!-- The following service definitions are only required for the in-process RuntimeService -->
    <service type="Quantiv.Runtime.Services.ConfigurationServices.IConfigurationService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledConfigurationServiceProvider" type="Quantiv.Runtime.Services.ConfigurationServices.PooledConfigurationServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="2" idleTimeout="-1"/>
        <configurationService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          applicationListFileName="Config/ApplicationList.config"/>
      </provider>
    </service>

    <service type="Quantiv.Runtime.Services.SupportServices.IStringService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="StringServiceProvider" type="Quantiv.Runtime.Services.SupportServices.StringServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <stringService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd">
          <messageFileRefListFile path="Config\ApplicationMessageFileRefList.config"/>
          <messageFileRefListFile path="Config\SystemMessageFileRefList.config"/>
        </stringService>
      </provider>
    </service>

    <service type="Quantiv.Runtime.Services.DataServices.IPermitRetrieverService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledPermitRetrieverServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledPermitRetrieverServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IPostingManagerService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledPostingManagerServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledPostingManagerServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IEntityRetrieverService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledEntityRetrieverServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledEntityRetrieverServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
        <entityRetrieverService  xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          logMethodExceptions="true" performanceCountersEnabled="true"
          retrievalPlanCacheSize="1000" allowNonPreparedQueries="false"
          traceAllQueries="false" traceLargeQueries="true" traceLongQueries="true" traceLargeMemoryUsageQueries="true"
          largeQueryTraceThreshold="5000" longQueryTraceThreshold="30000"
          memoryUsageTraceThreshold="10000" memoryUsageExceptionThreshold="200000"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IActivityLineRetrieverService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledActivityLineRetrieverServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledActivityLineRetrieverServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
        <activityLineRetrieverService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          logMethodExceptions="true" performanceCountersEnabled="true"
          retrievalPlanCacheSize="1000" allowNonPreparedQueries="false"
          traceAllQueries="false" traceLargeQueries="true" traceLongQueries="true" traceLargeMemoryUsageQueries="true"
          largeQueryTraceThreshold="5000" longQueryTraceThreshold="30000"
          memoryUsageTraceThreshold="10000" memoryUsageExceptionThreshold="200000"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IDBProcExecutorService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledDBProcExecutorServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledDBProcExecutorServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
      </provider>
    </service>

    <service type="Quantiv.Runtime.Services.CachedDataServices.ICachingCounterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="CachingCounterServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.CachingCounterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.CachedDataServices.IUnitsIdService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="UnitsIdServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.UnitsIdServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.CachedDataServices.IExRateReaderService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="ExRateReaderServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.ExRateReaderServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.CachedDataServices.IFullTextQueryCheckerService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="FullTextQueryCheckerServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.FullTextQueryCheckerServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>

    <!-- The following service definitions are only required for the in-process SystemRuntimeService -->
    <service type="Quantiv.Runtime.Services.DbDataServices.IPermitService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PermitServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.PermitServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <permitService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IDirectCounterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="DirectCounterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.DirectCounterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <directCounterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IUnitsIdWriterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="UnitsIdWriterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.UnitsIdWriterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <unitsIdWriterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IExRateWriterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="ExRateWriterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.ExRateWriterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <exRateWriterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IPostingWriterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PostingWriterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.PostingWriterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <postingWriterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd"
          logMethodExceptions="false"/>
      </provider>
    </service>

    <service type="Quantiv.Runtime.Database.IDomainFactory, Quantiv.Runtime.Database, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="DefaultDomainFactoryProvider" type="Quantiv.Runtime.Database.DefaultDomainFactoryProvider, Quantiv.Runtime.Database, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
  </quantiv>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>