<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="quantiv" type="Quantiv.Runtime.Configuration.QuantivRuntimeSection, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671"/>
    <section name="quantiv.web" type="Quantiv.Web.Runtime.Configuration.QuantivWebRuntimeSection, Quantiv.Web.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671"/>
  </configSections>
  
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Quantiv.Support"
                            publicKeyToken="5563df1e7cf4b671"
                            culture="neutral" />
          <bindingRedirect oldVersion="5.0.7.0"
                          newVersion="5.0.7.4"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

  <!--********************************************************************************-->
  <!--Quantiv 5 Configuration section-->
  <!--********************************************************************************-->
  <quantiv xsi:schemaLocation="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd file://\QuantivProjects\Quantiv5\Scheme\QuantivSupportConfig.xsd http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd file://\QuantivProjects\Quantiv5\Scheme\QuantivRuntimeConfig.xsd" xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <service type="Quantiv.Runtime.IActivityControllerPooler, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="ActivityControllerPoolerProvider" type="Quantiv.Runtime.ActivityControllerPoolerProvider, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <activityControllerPooler xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd">
          <pool poolRef="BB01_Activity" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="50" contextMaxControllers="2"/>
          <pool poolRef="BB01_Charity" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="50" contextMaxControllers="2"/>
          <pool poolRef="BB01_WebUtility" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="50" contextMaxControllers="2"/>
          <pool poolRef="BB01_Supporter" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="1000" contextMaxControllers="2"/>
          <pool poolRef="BB01_Donation" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="800" contextMaxControllers="2"/>
          <pool poolRef="BB01_Fundraising" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="1000" contextMaxControllers="2"/>
          <pool poolRef="BB01_Media" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="800" contextMaxControllers="2"/>
          <pool poolRef="BB01_Payment" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="100" contextMaxControllers="2"/>
          <pool poolRef="BB01_Email" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="50" contextMaxControllers="2"/>
          <pool poolRef="BB01_Security" appRef="BB01" defaultCompanyRef="BB01" poolMaxControllers="50" contextMaxControllers="2"/>
        </activityControllerPooler>
      </provider>
    </service>
    <!-- Configuration Service -->
    <service type="Quantiv.Runtime.Services.ConfigurationServices.IConfigurationService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledConfigurationServiceProvider" type="Quantiv.Runtime.Services.ConfigurationServices.PooledConfigurationServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="2" idleTimeout="-1"/>
        <configurationService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" applicationListFileName="Config/ApplicationList.config"/>
      </provider>
    </service>
    <!-- String Service -->
    <service type="Quantiv.Runtime.Services.SupportServices.IStringService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="StringServiceProvider" type="Quantiv.Runtime.Services.SupportServices.StringServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <stringService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd">
          <messageFileRefListFile path="Config/ApplicationMessageFileRefList.config"/>
          <messageFileRefListFile path="Config/SystemMessageFileRefList.config"/>
        </stringService>
      </provider>
    </service>
    <!-- System Date Time Service -->
    <service type="Quantiv.Support.Services.SystemDateTime.ISystemDateTimeService, Quantiv.Support, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="SingletonSystemDateTimeServiceProvider" type="Quantiv.Support.Services.SystemDateTime.SingletonSystemDateTimeServiceProvider, Quantiv.Support.Services, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <systemDateTimeService dateEnabled="false" date="2008-12-31" timeEnabled="false" time="23:59:59"/>
      </provider>
    </service>
    <!-- Application Logging Forwarder Service -->
    <service type="Quantiv.Support.Services.ApplicationLogging.IForwarderService, Quantiv.Support, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671" defaultProvider="PooledForwarderServiceProvider">
      <provider name="PooledForwarderServiceProvider" type="Quantiv.Support.Services.ApplicationLogging.PooledForwarderServiceProvider, Quantiv.Support.Services, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="1" idleTimeout="-1"/>
        <applicationLoggingForwarderService/>
      </provider>
    </service>
    <!-- Application Logging Writer Service -->
    <service type="Quantiv.Support.Services.ApplicationLogging.IWriterService, Quantiv.Support, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671" defaultProvider="SingletonEventLogWriterServiceProvider">
      <provider name="SingletonEventLogWriterServiceProvider" type="Quantiv.Support.Services.ApplicationLogging.SingletonEventLogWriterServiceProvider, Quantiv.Support.Services, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <applicationLoggingEventLogWriterService/>
      </provider>
      <provider name="SingletonSqlWriterServiceProvider" type="Quantiv.Support.Services.ApplicationLogging.SingletonSqlWriterServiceProvider, Quantiv.Support.Services, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <applicationLoggingSqlWriterService connectionStringName="tempdb"/>
      </provider>
    </service>
    <!-- DataServices -->
    <service type="Quantiv.Runtime.Services.RuntimeServices.IRuntimeService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledRuntimeServiceProvider" type="Quantiv.Runtime.Services.RuntimeServices.PooledRuntimeServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="-1" idleTimeout="-1"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.RuntimeServices.ISystemRuntimeService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671" defaultProvider="SystemRuntimeServiceProvider">
      <provider name="SystemRuntimeServiceProvider" type="Quantiv.Runtime.Services.RuntimeServices.SystemRuntimeServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IPermitRetrieverService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledPermitRetrieverServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledPermitRetrieverServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IPostingManagerService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledPostingManagerServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledPostingManagerServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IEntityRetrieverService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledEntityRetrieverServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledEntityRetrieverServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
        <entityRetrieverService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" logMethodExceptions="true" performanceCountersEnabled="true" retrievalPlanCacheSize="1000" allowNonPreparedQueries="false" traceAllQueries="false" traceLargeQueries="true" traceLongQueries="true" traceLargeMemoryUsageQueries="true" largeQueryTraceThreshold="5000" longQueryTraceThreshold="30000" memoryUsageTraceThreshold="10000" memoryUsageExceptionThreshold="200000"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IActivityLineRetrieverService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledActivityLineRetrieverServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledActivityLineRetrieverServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
        <activityLineRetrieverService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" logMethodExceptions="true" performanceCountersEnabled="true" retrievalPlanCacheSize="1000" allowNonPreparedQueries="false" traceAllQueries="false" traceLargeQueries="true" traceLongQueries="true" traceLargeMemoryUsageQueries="true" largeQueryTraceThreshold="5000" longQueryTraceThreshold="30000" memoryUsageTraceThreshold="10000" memoryUsageExceptionThreshold="200000"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DataServices.IDBProcExecutorService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PooledDBProcExecutorServiceProvider" type="Quantiv.Runtime.Services.DataServices.PooledDBProcExecutorServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <pool poolMin="1" poolMax="10" idleTimeout="-1"/>
      </provider>
    </service>
    <!-- Cached Data Services -->
    <service type="Quantiv.Runtime.Services.CachedDataServices.ICachingCounterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="CachingCounterServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.CachingCounterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.CachedDataServices.IUnitsIdService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="UnitsIdServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.UnitsIdServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.CachedDataServices.IExRateReaderService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="ExRateReaderServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.ExRateReaderServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.CachedDataServices.IFullTextQueryCheckerService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="FullTextQueryCheckerServiceProvider" type="Quantiv.Runtime.Services.CachedDataServices.FullTextQueryCheckerServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
    <!-- Db Data Services -->
    <service type="Quantiv.Runtime.Services.DbDataServices.IPermitService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PermitServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.PermitServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <permitService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IDirectCounterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="DirectCounterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.DirectCounterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <directCounterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IUnitsIdWriterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="UnitsIdWriterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.UnitsIdWriterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <unitsIdWriterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IExRateWriterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="ExRateWriterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.ExRateWriterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <exRateWriterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Services.DbDataServices.IPostingWriterService, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="PostingWriterServiceProvider" type="Quantiv.Runtime.Services.DbDataServices.PostingWriterServiceProvider, Quantiv.Runtime.Services.Server, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <postingWriterService xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd" logMethodExceptions="false"/>
      </provider>
    </service>
    <service type="Quantiv.Runtime.Database.IDomainFactory, Quantiv.Runtime.Database, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="DefaultDomainFactoryProvider" type="Quantiv.Runtime.Database.DefaultDomainFactoryProvider, Quantiv.Runtime.Database, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      </provider>
    </service>
  </quantiv>
  <quantiv.web xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd file://\QuantivProjects\Quantiv5\Scheme\QuantivSupportConfig.xsd">
    <errorHelper showErrorPage="false" logToEventLog="true"/>
  </quantiv.web>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
