<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quantiv" type="Quantiv.Runtime.Configuration.QuantivRuntimeSection, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671"/>
  </configSections>

  <!--********************************************************************************-->
  <!--Quantiv 5 Configuration section-->
  <!--********************************************************************************-->
  <quantiv xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.quantiv.com/quantivproduct/schemas/quantivsupportconfig.xsd file://\QuantivProjects\Quantiv5\Scheme\QuantivSupportConfig.xsd http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd file://\QuantivProjects\Quantiv5\Scheme\QuantivRuntimeConfig.xsd">
    <service type="Quantiv.Runtime.IActivityControllerPooler, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
      <provider name="ActivityControllerPoolerProvider" type="Quantiv.Runtime.ActivityControllerPoolerProvider, Quantiv.Runtime, Version=5.0.7.0, Culture=neutral, PublicKeyToken=5563df1e7cf4b671">
        <activityControllerPooler xmlns="http://www.quantiv.com/quantivproduct/schemas/quantivruntimeconfig.xsd">
          <pool poolRef="BB01_Donation" appRef="BB01" defaultCompanyRef="BB01"
                poolMaxControllers="800" contextMaxControllers="2"/>
        </activityControllerPooler>
      </provider>
    </service>
  </quantiv>
</configuration>